.client-view {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.client-view header {
  background-color: var(--main-color);
}
.client-view header div.MuiToolbar-root,
div.client-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-view div.tab {
  flex: 1;
}
.client-view .btn-close {
  color: #ffebee;
}
div.MuiTextField-root.pesquisa {
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
}
div.MuiTextField-root.pesquisa input {
  padding: 8px 16px;
  color: white;
  background-color: var(--dark-main-color);
}
